body {
  font-family: Arial, sans-serif;
}

form {
  width: 250px;
  margin: 50px auto;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.password-box {
  position: relative;
}

.password-box input {
  padding-right: 35px; /* prostor za oko */
}

.password-box button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}
